<!DOCTYPE html>
<html>
<head>
    <title>投稿詳細</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>投稿詳細</h1>
    <h2>{{ post.phone_number }}</h2>
    <p>{{ post.info }}</p>
    <p>はい: {{ post.positive_votes }}　いいえ: {{ post.negative_votes }}</p>

    <form action="" method="POST">
        <button type="submit" name="vote" value="yes">はい</button>
        <button type="submit" name="vote" value="no">いいえ</button>
    </form>
</body>
</html>
